@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700;800&display=swap");

/* Sidebar */
.admin-container {
  display: flex;
  padding: 0 !important;
}

.sidebar {
  background: #539e6d;
  color: #fdf6ec;
  min-height: 100vh;
  transition: all 0.5s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo-admin {
  width: 185px;
  height: 30px;
  margin-left: -15px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.icon,
.link_text {
  font-size: 20px;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

a.active {
  background-color: #539e6d;
  color: #eda80a;
  font-weight: 700;
}

.link.active:hover {
  color: #eda80a;
  transition: all 0.5s;
}

.link:hover {
  background-color: #4a8a61 !important;
  color: white;
}

.sign-out {
  border-radius: 100px;
  background-color: #4a8a61 !important;
  transition: transform 0.3s ease;
}

.margin-sign-out {
  position: absolute;
  margin-left: 15px;
  bottom: 30px;
}

.sign-out:hover {
  transform: scale(0.95);
}

/* Dashboard */
.box-con {
  display: flex;
  justify-content: space-around;
}

.box-stats{
  border-radius: 40px;
  margin-right: 10%;
  border: none !important;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.25);
}

.box-dashboard {
  width: calc(50% - 10px);
  padding: 30px;
  margin: 10px;
  border: none !important;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.25);
  background: rgba(83, 158, 109, 0.1);
  border-radius: 40px;
}

.box-dashboard2 {
  width: 100%;
  padding: 2%;
  margin: 2%;
  border: none !important;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.25);
  background: rgba(83, 158, 109, 0.1);
  border-radius: 40px;
}

.margin-topbar-dashboard {
  margin-left: 5%;
}

.margin-admin-topbar {
  margin-right: 14%;
}

.teanology-menu-update {
  margin-left: 5%;
  margin-top: -10px;
}

.flex-containerrr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.topbar-dashboard {
  font-family: "Work Sans", sans-serif;
  color: #36454f;
}

.oval-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  margin-right: 12px;
  width: 120px;
  height: 120px;
  background: #539e6d;
  border-radius: 100px;
}

.text-total {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #36454f;
}

.total {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #36454f;
}

/* Tea Menu page */
.add-button {
  margin-left: 6%;
  border-radius: 100px;
  background-color: #539e6d;
  width: 180px;
}

.add-button:hover {
  color: #fdf6ec !important;
  background-color: #539e6d !important;
}

.search-data {
  border-radius: 100px;
  background-color: #fdf6ec;
}

.search-data:focus {
  box-shadow: none;
  outline: none;
  background-color: #fdf6ec;
}

.search-icon {
  border-radius: 40px;
  border-right: none;
  background-color: #fdf6ec;
}

.search-icon:focus {
  background-color: #fdf6ec;
}

thead {
  background-color: rgba(54, 69, 79, 0.1);
  width: 100%;
  border-radius: 10px !important;
}

.pagination-button {
  border-radius: 100px;
  background-color: #539e6d !important;
}

.form-data {
  border-radius: 100px;
}

.form-select {
  border-radius: 100px;
}

.margin-table {
  margin-left: 3%;
  margin-right: 5%;
}

.page-link {
  color: #539e6d;
}

.page-link:hover {
  color: #539e6d;
}

.page-link:focus {
  box-shadow: none;
}

.active > .page-link {
  background-color: #539e6d !important;
  border-color: #539e6d !important;
}

.pagination .page-prev .page-link {
  border-radius: 40px 0 0 40px;
}

.pagination .page-next .page-link {
  border-radius: 0 40px 40px 0;
}

.pagination{
  justify-content: end;
}

/* Media query for tablets in portrait mode */
@media only screen and (min-width: 768px) and (max-width: 1025px){
  .row1-moodstats{
    margin-top: 24px !important;
  }
}

/* Media queries for mobile*/
@media (max-width: 767px) {
  
  .pagination{
    justify-content: center;
  }

  .admin-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .sidebar {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
    max-width: 220px;
    transition: max-width 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .margin-sign-out {
    margin-left: 10px;
  }

  main {
    margin-left: 0;
    transition: margin-left 0.3s ease;
  }

  .margin-topbar-dashboard {
    margin-left: 18%;
    font-size: 22px;
  }

  .user-admin{
    display: flex !important;
    justify-content: start !important;
  }

  .margin-admin-topbar {
    font-size: 12px;
    margin-left: 18%;
  }

  .teanology-menu-update {
    position: relative;
    margin-left: 17.3%;
    font-size: 12px;
  }

  .flex-containerrr {
    position: relative;
    top: -26px;
  }

  .box-dashboard2 {
    max-width: 100%;
    left: 7%;
    right: 2%;
  }

  .text-total {
    font-size: 18px;
    margin-left: 10px;
  }

  .total {
    margin-left: 10px;
  }

  .oval-icon {
    margin-left: -12px;
    scale: 0.8;
  }

  .margin-add-button {
    margin-left: 12%;
    scale: 0.7;
  }

  .margin-search {
    position: relative;
    margin-left: 60%;
    bottom: 72%;
    width: 40%;
    scale: 0.7;
  }

  .margin-table {
    margin-left: 15%;
    margin-right: 5%;
    margin-top: -10%;
  }

  .page-total {
    margin-top: 20%;
    font-size: 14px;
    justify-content: center;
    text-align: center;
  }
}

.card-upload-foto{
  border: 2px dashed #539e6d !important;
  border-radius: 20px;
  background-color: #fffaf2;
}

.modal-80w {
  max-width: 80% !important;
}

.preview-img{
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.x-preview{
  margin-top: -10px;
  right: 0;
}

.button-user:focus, .button-user:active{
  box-shadow: none !important;
  border-color: transparent !important;
}

.item-drop:focus{
  background-color: transparent !important;
}

.dropdown-menu{
  background-color: #fdf6ec;
  border: none;
  box-shadow: 0px 13px 35px -13px rgba(54,69,79,1);
}

.main-stats{
  height: 368px;
}

.react-calendar{
  font-family: 'Work Sans', sans-serif !important;
}

.react-daterange-picker{
  margin-left: 10px !important;
}

.react-daterange-picker{
  height: 28px !important;

}

.react-daterange-picker__wrapper{
  border-radius: 10px !important;
  padding: 0 5px;
  border: thin solid #539e6d !important;
  background-color: #fdf6ec !important;
}

.react-daterange-picker__inputGroup{
  font-size: 12px !important;
}

.bi-calendar2-week-fill{
  color: #539e6d !important;
}

.react-calendar{
  border-radius: 20px !important;
  background-color: #fdf6ec !important;
  box-shadow: 0px 13px 35px -13px rgba(54,69,79,1) !important;
  border: thin solid #539e6d !important;
}

.react-calendar__tile--now{
  background: transparent !important;
  border: 2px solid #539e6d !important;
  border-radius: 8px;
  width: 80% !important;
}

.react-calendar__tile--active{
  background: #539e6d !important;
  border-radius: 8px;
  border: 2px solid #fdf6ec !important;
}