:root {
  --angry: #ab594e;
  --floralwhite: #FDF6EC;
}

.half-circle {
  position: absolute;
  position: fixed;
  bottom: 45px;
  background: var(--floralwhite);
  width: 68px;
  height: 68px;
  border-radius: 100%;
  left: 50%;
  margin-left: -34px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
}

/* Top Border */
.line-angry {
  border-bottom: 2px solid #e5e5e5;
  margin-top: 28px;
}

.line-angry:after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--angry);
  margin-bottom: -2px;
  max-width: 50%;
}

.mood__box-angry {
  margin-top: 24px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.angry {
  font-weight: 800;
  font-size: 30px;
  color: var(--angry);
}

.sub-title {
  font-weight: 400;
  font-size: 16px;
}

.link-angry {
  font-weight: 600;
  color: var(--angry);
}

.attention {
  text-align: center;
  font-size: 8px;
  margin-top: 30px;
  margin-bottom: 24px;
}

/* Menu Box */
.menu__box-angry {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.type-menu-angry {
  font-weight: 600;
  font-size: 22px;
  margin-top: 16px;
  color: var(--angry);
}

.code-name-angry {
  font-weight: 600;
  font-size: 16px;
  color: var(--angry);
}

.dash-angry {
  border-bottom: 2px dashed #e5e5e5;
  margin-top: 12px;
  border-color: var(--angry);
}

/* Carousel */
.carousel {
  margin-top: 30px;
}

.carousel-indicators {
  margin-bottom: 50px;
}

.carousel-indicators button {
  background-color: #f09e54 !important;
  border: none !important;
  border-radius: 100px;
  width: 18px !important;
  height: 5px;
}

.carousel-control-prev {
  visibility: hidden;
}

.carousel-control-next {
  visibility: hidden;
}

.cropped-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Descryption */
.desc-box {
  margin-top: -40px;
}

.desc-body {
  border: none;
  background-color: var(--floralwhite);
  border-top-right-radius: 45.6px;
  border-top-left-radius: 45.6px;
}

.badge-custom-angry {
  background-color: var(--angry) !important;
  border-radius: 6px;
}

.type {
  display: inline-block;
}

.type:not(:last-child)::after {
  content: "•";
  margin-right: 5px;
}

.ings ul li {
  list-style: none;
}

.btn-pairing-angry{
  border: 2px solid var(--angry);
  background-color: rgba(171, 89, 78, 0.8);
  color: #FDF6EC;
  border-radius: 40px;
  font-weight: 500;
  height: 50px;
  width: 100%;
}

.btn-pairing-angry:hover{
  border: 2px solid var(--angry);
  background-color: rgba(171, 89, 78, 0.8);
  color: #FDF6EC;
}

@media (min-width: 768px){
  .angry {
    margin-left: 22px;
  }

  .sub-title {
    margin-left: 22px;
  }
  
  .link-angry {
    margin-left: 22px;
  }

  .attention {
    font-size: 12px;
  }

  .re-scan {
    margin-right: 22px;
  }

  /* Menu Box */
  .menu__box {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
  }

  .list-menu-angry {
    margin-left: 10px;
    margin-right: 10px;
  }

  .type-menu-angry {
    font-weight: 600;
    font-size: 22px;
    margin-left: 22px;
    padding-top: 12px;
    color: var(--angry);
  }
}

@media (max-width: 767px){
  .type-menu-angry{
    padding-top: 16px;
  }

  .emote{
    margin-right: auto;
    margin-top: 20px;
  }

  .position-relative img{
    margin-right: 8px;
  }

  .btn-pairing-angry{
    position: fixed; 
    bottom: 120px;
    width: 92%;
  }
}

@media (min-width: 768px) and (max-width: 1020px){
  .btn-pairing-angry{
    position: fixed; 
    bottom: 120px;
    width: 96%;
  }
}

/* Food Pairing */
.header-angry{
  color: var(--angry);
  margin-left: 20px;
}

@media (max-width: 767px){
  .header-angry{
    margin-left: 2px;
  }
}