:root {
  --green: #539e6d;
  --floralwhite: #fdf6ec;
}

.header{
  color: var(--green);
  padding-left: 32px;
}

/* Menu Box */
.menu__box-green {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.type-menu-green {
  font-weight: 600;
  font-size: 22px;
  margin-top: 16px;
  color: var(--green);
}

.code-name-green {
  font-weight: 600;
  font-size: 16px;
  color: var(--green);
}

.dash-green {
  border-bottom: 2px dashed #e5e5e5;
  margin-top: 12px;
  border-color: var(--green);
}

/* Carousel */
.carousel {
  margin-top: 30px;
}

.carousel-indicators {
  margin-bottom: 50px;
}

.carousel-indicators button {
  background-color: #f09e54 !important;
  border: none !important;
  border-radius: 100px;
  width: 18px !important;
  height: 5px;
}

.carousel-control-prev {
  visibility: hidden;
}

.carousel-control-next {
  visibility: hidden;
}

/* Descryption */
.desc-box {
  margin-top: -40px;
}

.desc-body {
  border: none;
  background-color: var(--floralwhite);
  border-top-right-radius: 45.6px;
  border-top-left-radius: 45.6px;
}

.badge-custom-green {
  background-color: var(--green) !important;
  border-radius: 6px;
}

.type {
  display: inline-block;
}

.type:not(:last-child)::after {
  content: "•";
  margin-right: 5px;
}

.ings ul li {
  list-style: none;
}

@media (min-width: 768px) {
  .green {
    margin-left: 22px;
  }

  .sub-title {
    margin-left: 22px;
  }

  .link-green {
    margin-left: 22px;
  }

  .attention {
    font-size: 12px;
  }

  .re-scan {
    margin-right: 22px;
  }

  /* Menu Box */
  .menu__box {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
  }

  .list-menu-green {
    margin-left: 10px;
    margin-right: 10px;
  }

  .type-menu-green {
    font-weight: 600;
    font-size: 22px;
    margin-left: 22px;
    padding-top: 12px;
    color: var(--green);
  }
}

@media (max-width: 767px) {
  .header{
    padding-left: 10px;
  }

  .type-menu-green {
    padding-top: 16px;
  }

  .emote {
    margin-right: auto;
    margin-top: 20px;
  }

  .position-relative img {
    margin-right: 8px;
  }
}
